<h1>File Server</h1>
<title>File Server</title>
<form action="/upload" method="post" id="uploadFile" encType="multipart/form-data">
    <input type="file" name="upload_file" id="" value="" />
    <input type="submit" name="submit" id="submit" value="Upload" />
</form>
